<div class="row">
  <div class="col-md-11" style="margin-left: 20px">
    <h3 style="margin-top: 20px">List bloc </h3>
    <hr>
    <button class="btn btn-round btn-sm btn-success" (click)="open(mymodal1,null)">Add new bloc</button>
    <br><br>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>idBloc</th>
        <th>nomBloc</th>
        <th>capaciteBloc</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor='let p of listblocs'>
          <td>{{p.idBloc}}</td>
          <td>{{p.nomBloc}}</td>
          <td>{{p.capaciteBloc}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
<ng-template #mymodal1 let-modal1>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new bloc</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal1.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="bloc-nomBloc">nomBloc</label>
        <div class="input-group">
          <input id="bloc-nomBloc" class="form-control" type="text" placeholder="nomBloc"
                 [(ngModel)]="bloc.nomBloc"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
      <div class="mb-3">
        <label for="bloc-capaciteBloc">capaciteBloc</label>
        <div class="input-group">
          <input id="bloc-capaciteBloc" class="form-control" type="number" placeholder="capaciteBloc"
                 [(ngModel)]="bloc.capaciteBloc"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="addbloc(bloc)"
            (click)="modal1.close('Save click')">Add
    </button>
    <button type="button" class="btn btn-danger" (click)="modal1.close('Save click')">Cancel</button>
  </div>
</ng-template>